<!-- HEADER TITLE BOX -->
<div class="popup-head">
  <div class="popup-head-left pull-left">
    <img class="md-user-image" alt="Tư vấn tuyển sinh" title="Tư vấn tuyển sinh"
         src="../../../assets/icons/logo_spkt.png"
         title="Tư vấn tuyển sinh" alt="Tư vấn tuyển sinh">
    <h1>Tư vấn tuyển sinh</h1>
    <!--<small><br> <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Web Designer</small>-->
  </div>
  <!--<div class="popup-head-right pull-right">-->
  <!--<button class="chat-header-button" type="button"><i class="glyphicon glyphicon-facetime-video"></i></button>-->
  <!--<button class="chat-header-button" type="button"><i class="glyphicon glyphicon-earphone"></i></button>-->
  <!--<div class="btn-group gurdeepoushan">-->
  <!--<button class="chat-header-button" data-toggle="dropdown" type="button" aria-expanded="false">-->
  <!--<i class="glyphicon glyphicon-paperclip"></i></button>-->
  <!--<ul role="menu" class="dropdown-menu pull-right">-->
  <!--&lt;!&ndash;<li><a href="#"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Gallery</a>&ndash;&gt;-->
  <!--&lt;!&ndash;</li>&ndash;&gt;-->
  <!--&lt;!&ndash;<li><a href="#"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span> Photo</a></li>&ndash;&gt;-->
  <!--&lt;!&ndash;<li><a href="#"><span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>&ndash;&gt;-->
  <!--&lt;!&ndash;Video</a></li>&ndash;&gt;-->
  <!--&lt;!&ndash;<li><a href="#"><span class="glyphicon glyphicon-headphones" aria-hidden="true"></span> Audio</a>&ndash;&gt;-->
  <!--&lt;!&ndash;</li>&ndash;&gt;-->
  <!--&lt;!&ndash;<li><a href="#"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Location</a>&ndash;&gt;-->
  <!--&lt;!&ndash;</li>&ndash;&gt;-->
  <!--&lt;!&ndash;<li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Contact</a></li>&ndash;&gt;-->
  <!--</ul>-->
  <!--</div>-->

  <!--<button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button"><i-->
  <!--class="glyphicon glyphicon-remove"></i></button>-->
  <!--</div>-->
</div>
<!-- \HEADER TITLE BOX -->
