<aside id="sidebar_secondary" class="tabbed_sidebar ng-scope chat_sidebar">
  <app-chat-header></app-chat-header>
  <app-chat-contents></app-chat-contents>
  <app-chat-input></app-chat-input>
</aside>
