aside {
  background-attachment: fixed;
  background-clip: border-box;
  background-color: rgba(0, 0, 0, 0);
  background-origin: padding-box;
  background-position: center top;
  background-repeat: repeat;
  border: 1px solid #304445;
  bottom: 0;
  display: none;
  height: 466px;
  position: fixed;
  right: 70px;
  width: 300px;
  font-family: 'Open Sans', sans-serif;
}

aside {
  display: block;
}

/* NTT ADD TEST */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* \NTT ADD TEST */

