<!-- Inside chatbox-->
<div>
  <div id="chat" class="chat_box_wrapper chat_box_small chat_box_active"
       style="opacity: 1; display: block; transform: translateX(0px);">
    <div class="chat_box touchscroll chat_box_colors_a">
      <div *ngFor="let msg of messages">
        <!--Content chat receive-->
        <div *ngIf="msg.isAnswer(); else question_view" class="chat_message_wrapper">
          <div class="chat_user_avatar">
            <img alt="Chatbots" title="Chatbots" src="../../../assets/icons/icoin_bots.png"
                 class="md-user-image">
          </div>
          <ul class="chat_message">
            <li>
              <p>{{msg.answer}}</p>
              <!--<span class="chat_message_time">13:38</span>-->
            </li>
          </ul>
        </div>
        <!-- /Content chat receive-->

        <!-- Content chat send-->
        <ng-template #question_view>
          <div class="chat_message_wrapper chat_message_right">
            <ul class="chat_message">
              <li>
                <p>{{msg.question}}</p>
                <!--<span class="chat_message_time">13:34</span>-->
              </li>
            </ul>
          </div>
        </ng-template>
        <!-- Content chat send-->
      </div>
    </div>
  </div>
</div>
<!-- \Inside chatbox-->
