.chat_box .chat_message_wrapper ul.chat_message > li + li {
  margin-top: 4px;
}

.chat_box_wrapper.chat_box_small.chat_box_active {
  height: 342px;
  overflow-y: scroll;
  width: 316px;
}

.chat_box {
  padding: 16px;
  background: transparent none repeat scroll 0 0; /* NTT background chat-box */
  overflow: hidden;
  display: table;
  content: " ";
  overflow-y:scroll;
  height:100px;
}

.chat_box .chat_message_wrapper::after {
  clear: both;
}

.chat_box .chat_message_wrapper::after, .chat_box .chat_message_wrapper::before {
  display: table;
  content: " ";
}

.chat_box .chat_message_wrapper .chat_user_avatar {
  float: left;
}

.chat_box .chat_message_wrapper {
  margin-bottom: 20px;
}

.md-user-image {
  border-radius: 50%;
  width: 34px;
}

img {
  border: 0 none;
  box-sizing: border-box;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.chat_box .chat_message_wrapper ul.chat_message, .chat_box .chat_message_wrapper ul.chat_message > li {
  list-style: outside none none;
  padding: 0;
}

.chat_box .chat_message_wrapper ul.chat_message {
  float: left;
  margin: 0 0 0 20px;
  max-width: 77%;
}

.chat_box.chat_box_colors_a .chat_message_wrapper ul.chat_message > li:first-child::before {
  border-right-color: #616161;
}

.chat_box .chat_message_wrapper ul.chat_message > li:first-child::before {
  border-color: transparent #ededed transparent transparent;
  border-style: solid;
  border-width: 0 16px 16px 0;
  content: "";
  height: 0;
  left: -14px;
  position: absolute;
  top: 0;
  width: 0;
}

.chat_box.chat_box_colors_a .chat_message_wrapper ul.chat_message > li {
  background: #FCFBF6 none repeat scroll 0 0;
  color: #000000;
}

.open-btn {
  border: 2px solid #189d0e;
  border-radius: 32px;
  color: #189d0e !important;
  display: inline-block;
  margin: 10px 0 0;
  padding: 9px 16px;
  text-decoration: none !important;
  text-transform: uppercase;
}

.chat_box .chat_message_wrapper ul.chat_message > li {
  background: #ededed none repeat scroll 0 0;
  border-radius: 4px;
  clear: both;
  color: #212121;
  display: block;
  float: left;
  font-size: 13px;
  padding: 8px 16px;
  position: relative;
  /*word-break: break-all; NTT TODO*/
}

.chat_box .chat_message_wrapper ul.chat_message, .chat_box .chat_message_wrapper ul.chat_message > li {
  list-style: outside none none;
  padding: 0;
}

.chat_box .chat_message_wrapper ul.chat_message > li {
  margin: 0;
}

.chat_box .chat_message_wrapper ul.chat_message > li p {
  margin: 0;
}

.chat_box.chat_box_colors_a .chat_message_wrapper ul.chat_message > li .chat_message_time {
  color: rgba(185, 186, 180, 0.9);
}

.chat_box .chat_message_wrapper ul.chat_message > li .chat_message_time {
  color: #727272;
  display: block;
  font-size: 11px;
  padding-top: 2px;
  text-transform: uppercase;
}

.chat_box .chat_message_wrapper.chat_message_right .chat_user_avatar {
  float: right;
}

.chat_box .chat_message_wrapper.chat_message_right ul.chat_message {
  float: right;
  margin-left: 0 !important;
  margin-right: 24px !important;
}

.chat_box.chat_box_colors_a .chat_message_wrapper.chat_message_right ul.chat_message > li:first-child::before { /* NTT color background of tail right*/
  border-left-color: #E8FFD4;
}

.chat_box.chat_box_colors_a .chat_message_wrapper ul.chat_message > li:first-child::before {
  border-right-color: #FCFBF6;
}

.chat_box .chat_message_wrapper.chat_message_right ul.chat_message > li:first-child::before {
  border-color: transparent transparent transparent #ededed;
  border-width: 0 0 29px 29px;
  left: auto;
  right: -14px;
}

.chat_box .chat_message_wrapper ul.chat_message > li:first-child::before {
  border-color: transparent #ededed transparent transparent;
  border-style: solid;
  border-width: 0 29px 29px 0;
  content: "";
  height: 0;
  left: -14px;
  position: absolute;
  top: 0;
  width: 0;
}

.chat_box.chat_box_colors_a .chat_message_wrapper.chat_message_right ul.chat_message > li { /* NTT khung xung quanh chat right*/
  background: #E8FFD4 none repeat scroll 0 0;
}

.chat_box .chat_message_wrapper ul.chat_message > li {
  background: #ededed none repeat scroll 0 0;
  border-radius: 12px;
  clear: both;
  color: #212121;
  display: block;
  float: left;
  font-size: 13px;
  padding: 8px 16px;
  position: relative;
}
