#submit_message {
  background: transparent none repeat scroll 0 0; /* NTT background input text */
  border: medium none;
  color: #333;
  border-radius: 5px;
  float: left;
}

.chat_submit_box {
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.image{
  width: 35px;
  height:30px;
}
