<div class="chat_submit_box">
  <div class="">
    <input style="width: 100%" type="text" placeholder="Nhập câu hỏi cần tư vấn" id="submit_message"
           name="submit_message" (keyup.enter)="keyUpMessage()" [(ngModel)]="queryMessage"
           style="width: 100%; height: 30px" type="text">
  </div>
  <div class="row">
    <div class="list-group list-group-horizontal">
      <img src="../../../assets/icons/logo.png" class="image" alt="Responsive image">
      <img src="../../../assets/icons/logo2.png" class="image" alt="Responsive image">
      <img src="../../../assets/icons/logo3.png" class="image" alt="Responsive image">
      <img src="../../../assets/icons/logo4.png" class="image" alt="Responsive image">
      <img src="../../../assets/icons/logo5.png" class="image" alt="Responsive image">
      <img src="../../../assets/icons/logo6.png" class="image" alt="Responsive image">
      <img src="../../../assets/icons/logo7.png" class="image" alt="Responsive image">
      <img src="../../../assets/icons/logo8.png" class="image" alt="Responsive image">
    </div>
  </div>
</div>
