/* You can add global styles to this file, and also import other style files */
/*@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);*/
@import url(assets/fonts/css_Oswald_fonts.css);
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans);*/
@import url(assets/fonts/css_Open_Sans_fonts.css);

body
{
  font-family: 'Open Sans', sans-serif;
}

a:focus {
  outline: none;
  outline-offset: 0px;
}
